body{
    font-family: "Poppins", serif;
}

th{
    border: 1px solid #ffffff;
    padding: 8px;
    text-align: center;
    background-color: #22C55E;
}

td{
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
}

tfoot, td{
    font-weight: 400;
}

.remove-icon{
    color: red;
    background-color: rgba(255, 255, 255, 0.64);
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.totalBg{
    background-color: #22C55E;
}