* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", serif;
}

.blog-image-wrapper {
    overflow: hidden;
}

.blog-image {
    transition: .5s;
}

.blog-card:hover .blog-image {
    transform: scale(1.1);
}

#read-more-btn:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}