* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", serif;
}

.blog-image-wrapper {
    overflow: hidden;
}

.blog-image {
    transition: .5s;
}

.blog-card:hover .blog-image {
    transform: scale(1.1);
}

#read-more-btn:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}

#imageInput,
#AuthorimageInput {
    display: none;
}

.custom-file-label {
    display: inline-block;
    background-color: #6c63ff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.custom-file-label:hover {
    background-color: #554fbf;
}