* {
    margin: 0;
    padding: 0;
}

body {
    padding: 50px 10px 0px 10px;
    background-image: url("https://i.ibb.co.com/kyJd407/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    height: 100%;
    font-family: "Poppins", serif;
}

.description-wrapper {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.description-wrapper h1 {
    color: white;
    font-size: 36px;
}

.description-wrapper p {
    color: #ffffffb0;
    font-size: 14px;
    margin-top: 12px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff84;
    padding: 40px;
    border-radius: 15px;
}

.container .title {
    text-align: center;
    font-size: 22px;
    color: #332871;
}

.input-wrapper {
    margin: 0 auto;
    max-width: 500px;
    padding-top: 20px;
    display: flex;
    align-items: center;
}

.input-wrapper input {
    font-size: 18px;
    padding: 10px;
    text-align: center;
    outline: none;
    border: none;
    flex: 1;
    border-radius: 30px 0px 0px 30px;
}

.add-btn {
    font-size: 16px;
    right: 0;
    padding: 12px 40px;
    cursor: pointer;
    background-color: #FF643B;
    border: 0;
    border-radius: 0 30px 30px 0px;
    color: white;
    font-weight: 600;
    display: flex;
}

#error {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    font-style: italic;
    color: red;
}

.list-container {
    margin: 0 auto;
    max-width: 500px;
    margin-top: 30px;
}

.item-wrapper {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.43);
    padding-bottom: 8px;
}

.remove-icon {
    margin-left: auto;
}

#list-wrapper {
    padding: 0 16px 0 0;
    overflow: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 400px);
}

.check-box {
    height: 20px;
    width: 20px;
    border: 2px solid #E1E1E1;
    border-radius: 50%;
}

.list {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    list-style: none;
    word-wrap: break-word;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}

.checkBox-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.remove-icon {
    color: rgb(255, 59, 59);
    background-color: #ffffff4b;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.checked {
    background-image: url("https://i.ibb.co.com/mrsB0jt/5610944.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-decoration: line-through;
}

.list-checked {
    text-decoration: line-through;
}

footer p {
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.749);
}

/* responsive */

@media only screen and (max-width: 600px) {
    .description-wrapper h1 {
        color: white;
        font-size: 24px;
    }

    .description-wrapper p {
        font-size: 10px;
    }

    .container {
        padding: 20px;
    }

    .container .title {
        font-size: 18px;
    }

    .input-wrapper {
        max-width: 320px;
    }

    .input-wrapper input {
        font-size: 14px;
    }

    .add-btn {
        font-size: 14px;
        padding: 10px 20px;
    }
}