* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://i.ibb.co.com/jyPSVrn/14105.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Poppins", serif;
    overflow: hidden;
    padding: 0 12px;
}

.title {
    background-color: rgba(0, 0, 0, 0.227);
    width: max-content;
    padding: 8px 20px;
    backdrop-filter: blur(8px);
    border-radius: 20px;
    cursor: pointer;
}

main {
    display: flex;
    gap: 12px;
    max-width: 1280px;
    margin: 0 auto;
    color: #ffffff;
    height: 100vh;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container {
    border-right: 4px solid rgba(255, 255, 255, 0.238);
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 2;
}

.weather-section {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    padding-bottom: 120px;
}

.weather-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}

.celcius-wrapper h1 {
    font-size: 142px;
    font-weight: 500;
}

.location-wrapper h1 {
    font-size: 60px;
    font-weight: 400;
}

.location-wrapper p {
    font-size: 18px;
}

#weatherIcon {
    width: 100px;
}

/* search-container */

.search-container {
    flex: 1;
}

.search-container .search-wrapper {
    backdrop-filter: blur(8px);
    height: 100%;
    background-color: #ffffff1e;
    border-radius: 16px;
    padding: 35px;
    font-weight: 300;
}

.search-wrapper .input-wrapper {
    display: flex;
    border-bottom: 1px solid #ffffff8b;
    width: fit-content;
}

.search-wrapper .input-wrapper input {
    height: 40px;
    font-size: 18px;
    background-color: transparent;
    color: white;
    border: 0;
}

.input-wrapper input::placeholder {
    color: #ffffff97;
    opacity: 1;
}

.input-wrapper,
input:focus {
    outline: none;
}

.search-wrapper .input-wrapper button {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 0 10px;
}

.search-container .details-text {
    margin-top: 40px;
}

.weather-data-container {
    margin-top: 50px;
}

.details-wrapper {
    margin-top: 30px;
}

.details-wrapper .details-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
}

.details-item .temp svg {
    height: 24px;
    width: 24px;
}

.details-item .temp {
    display: flex;
    gap: 26px;
}

.forecast-wrapper {
    margin-top: 30px;
    border-top: 2px solid #ffffff8b;
    padding-top: 30px;
}


/* responsive design  */

@media only screen and (max-width: 900px) {
    body {
        background-image: url("https://i.ibb.co.com/dcpq67s/bg-weather-1.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        font-family: "Poppins", serif;
        overflow: auto;
    }

    main {
        flex-direction: column;
        height: 100%;
    }

    .title {
        font-size: 20px;
    }

    .celcius-wrapper h1 {
        font-size: 64px;
    }

    .location-wrapper h1 {
        font-size: 30px;
    }

    .location-wrapper p {
        font-size: 10px;
    }

    #weatherIcon {
        width: 40px;
    }

    .weather-wrapper {
        margin-top: 50px;
    }

    .weather-wrapper svg {
        height: 40px;
        width: 40px;
    }

    .weather-section {
        padding-bottom: 0px
    }

    .search-wrapper {
        font-size: 14px;
    }
}